.graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  padding-top: 0px;
}

canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 500px; /* Limita a altura para evitar gráficos grandes demais */
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .graph-container {
    padding: 10px;
    width: 100%; /* Ajusta a largura para caber melhor em dispositivos móveis */
  }

  canvas {
    max-height: 400px; /* Ajusta a altura máxima para tablets */
  }

  p {
    font-size: 14px; /* Reduz o tamanho da fonte em telas menores */
  }
}

/* Ajustes adicionais para telas muito pequenas */
@media (max-width: 480px) {
  .graph-container {
    padding: 8px; /* Reduz o padding para telas menores */
  }

  canvas {
    max-height: 300px; /* Limita a altura do gráfico em telas pequenas */
  }

  p {
    font-size: 12px; /* Ajuste o tamanho da fonte para telas muito pequenas */
  }
}

p {
  font-size: 16px;
  color: #333;
  text-align: center;
}
